<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Paraloid</title>
</head>
<body>
    <header class="indents-reset header flex header-offset">
        <nav class="nav header__nav">
            <h1 class="title header__title">
                <a href="index.html">Paraloid</a>
            </h1>
            <ul class="nav__list list flex">
                <li class="list__elem elem flex">
                    <a href="settings.html" class="elem__link">Settings</a>
                </li>
                <li class="list__elem elem flex">
                    <a href="ask.html" class="elem__link">New question</a>
                </li>
                <li class="list__elem elem flex">
                    <a href="questions.html" class="elem__link">My questions</a>
                </li>
                <li class="list__elem elem flex">
                    <a href="hot.html" class="elem__link">Hot</a>
                </li>
            </ul>
        </nav>
        <div class="action header__action flex">
            <input class="header__action__input input" type="text" placeholder="Поиск">
            <button class="btn-reset btn header__btn">
                Search
            </button>
            <button class="btn-reset btn header__btn">
                <a href="authorization.html">Login</a>
            </button>
            <button class="btn-reset btn header__btn">
                <a href="registration.html">Sign up</a>
            </button>
        </div>
    </header>
    <main>
        <section class="questions container flex section-offset">
            <div class="questions__main-container flex">
                <h2 class="questions__title">Questions</h2>
                <ul class="questions__list flex">
                    <li class="questions__list__item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="questions__list__item list__item item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="questions__list__item list__item item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="questions__list__item list__item item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="questions__list__item list__item item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="questions__list__item list__item item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="questions__list__item list__item item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="questions__list__item list__item item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="questions__list__item list__item item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="questions__list__item list__item item flex">
                        <article class="questions__question__card question__card card flex">
                            <div class="question__card__side-bar side-bar flex">
                                <ul class="side-bar__emodzi-list emodzi-list flex">
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Answers
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            2
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Rating
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            10
                                        </span>
                                    </li>
                                    <li class="emodzi-list__item item flex">
                                        <button class="btn-reset btn button__emodzi">
                                            Likes
                                        </button>
                                        <span class="emodzi-list__item__number">
                                            3
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="question__card__main-content card__main-content flex">
                                <h2 class="card__main-content__title">
                                    <a href="question_page.html">Question number or title</a>
                                </h2>
                                <p class="card__main-content__descr">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                                </p>
                                <div class="card__main-content-footer flex">
                                    <div class="main-content-footer__user flex">
                                        <h3 class="main-content-footer__user__title">
                                            Username:
                                        </h3>
                                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                            bodjan@mail.ru
                                        </a>
                                    </div>
                                    <div class="main-content-footer__tags flex">
                                        <ul class="tag-list list flex">
                                            <li class="tag">
                                                <a href="tag.html">C/C++</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Python</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Django</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">JS</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">React</a>
                                            </li>
                                            <li class="tag">
                                                <a href="tag.html">Node.js</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <div class="container pagination-container">
                      <div class="btn btn-dark my-btn">1</div>
                      <a class="btn btn-dark my-btn" href="#" title="Go to page 2">2</a>
                      <a class="btn btn-dark my-btn" href="#" title="Go to page 3">3</a>
                      <a class="btn btn-dark my-btn" href="#" title="Go to page 4">4</a>
                      <a class="btn btn-dark my-btn" href="#" title="Go to page 5">5</a>
                      <span class="fs-2"> ....</span>
                      <a class="btn btn-dark my-btn" href="#" title="Go to page 50703">1337</a>
                      <a class="btn btn-dark my-btn" href="#" rel="next" title="Go to page 2"> Next</a>
                  </div>
            </div>
            <div class="questions__side-bar flex">
                <h3 class="side-bar__title">Pop tags</h3>
                <ul class="side-bar__tags flex">
                    <li class="side-bar__tag-item">
                        <a href="tag.html"> C++</a>
                    </li>
                    <li class="side-bar__tag-item">
                        <a href="tag.html"> Python</a>
                    </li>
                    <li class="side-bar__tag-item">
                        <a href="tag.html"> SQL</a>
                    </li>
                    <li class="side-bar__tag-item">
                        <a href="tag.html"> JS</a>
                    </li>
                    <li class="side-bar__tag-item">
                        <a href="tag.html"> Go</a>
                    </li>
                    <li class="side-bar__tag-item">
                        <a href="tag.html"> PHP</a>
                    </li>
                </ul>
                <h3 class="side-bar__title">Members</h3>
                <ul class="side_bar__members members flex">
                    <li class="member">
                        <a href="#">Lalipop</a>
                    </li>
                    <li class="member">
                        <a href="#">Alex_zzz</a>
                    </li>
                    <li class="member">
                        <a href="#">Bojander</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <hr class="divider">
    <footer class="footer container flex">
        <div class="footer__col flex">
            <h4 class="footer__col__title">Paraloid</h4>
            <ul class="footer__list list flex">
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">О нас</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link"  href="#">Прессе</a>
                </li>
            </ul>
        </div>
        <div class="footer__col flex">
            <h4 class="footer__col__title">Terms</h4>
            <ul class="footer__list list flex">
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Условия использования</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Условия конфиденциальности</a>
                </li>
            </ul>
        </div>
        <div class="footer__col flex">
            <h4 class="footer__col__title">Contacts</h4>
            <ul class="footer__list list flex">
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Помощь</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Команды</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="footer__col flex">
            <h4 class="footer__col__title">Online</h4>
            <ul class="footer__list list flex">
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">ВКонтакте</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Телеграмме</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Инстаграмм</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
