{% extends "include/base.html" %}
{% load static %}

{% block navbar %}
    {% include "include/navbar.html"%}
{% endblock navbar %}

{% block header_btn %}
    {% include "include/header_buttons.html"%}
{% endblock header_btn%}


{% block main_content %}
    {% include "include/question_form.html" %}
{% endblock main_content %}

{% block sidebar %}
    {% include "include/sidebar.html" %}
{% endblock sidebar %}

{% block add_sections %}
    {% include "include/additional_sections.html"%}
{% endblock add_sections %}
