{% load static %}

<hr class="divider">
<section class="answers container flex section-offset">
            <h2 class="answers__header">
                Answers: 2
            </h2>
            <ul class="answers__list list">
                <li class="answers__list__item item">
                    <article class="questions__question__card answer__card card flex">
                        <div class="question__card__side-bar side-bar flex">
                            <ul class="side-bar__emodzi-list emodzi-list flex">
                                <li class="emodzi-list__item-answer flex">
                                    <button class="btn-reset btn button__emodzi">
                                        Likes
                                    </button>
                                    <span class="emodzi-list__item__number">
                                        10
                                    </span>
                                </li>
                                <li class="emodzi-list__item-answer flex">
                                    <button class="btn-reset btn button__emodzi">
                                        Dislikes
                                    </button>
                                    <span class="emodzi-list__item__number">
                                        3
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="question__card__main-content card__main-content flex">
                            <h2 class="card__main-content__title">
                                Answer number or title
                            </h2>
                            <p class="card__main-content__descr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                            </p>
                            <div class="card__main-content-footer flex">
                                <div class="main-content-footer__user flex">
                                    <h3 class="main-content-footer__user__title">
                                        Username:
                                    </h3>
                                    <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                        bodjan@mail.ru
                                    </a>
                                </div>
                                <div class="main-content-footer__tags flex">
                                    <ul class="tag-list list flex">
                                        <li class="tag">
                                            <a href="#">C/C++</a>
                                        </li>
                                        <li class="tag">
                                            <a href="#">Python</a>
                                        </li>
                                        <li class="tag">
                                            <a href="">Django</a>
                                        </li>
                                        <li class="tag">
                                            <a href="#">JS</a>
                                        </li>
                                        <li class="tag">
                                            <a href="#">React</a>
                                        </li>
                                        <li class="tag">
                                            <a href="#">Node.js</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="answer__correct flex">
                                <input class="answer__correct__square" type="checkbox" id="scales" name="Correct" checked>
                                <label for="Correct">Correct</label>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="answers__list__item item">
                    <article class="questions__question__card answer__card card flex">
                        <div class="question__card__side-bar side-bar flex">
                            <ul class="side-bar__emodzi-list emodzi-list flex">
                                <li class="emodzi-list__item-answer flex">
                                    <button class="btn-reset btn button__emodzi">
                                        Likes
                                    </button>
                                    <span class="emodzi-list__item__number">
                                        10
                                    </span>
                                </li>
                                <li class="emodzi-list__item-answer flex">
                                    <button class="btn-reset btn button__emodzi">
                                        Dislikes
                                    </button>
                                    <span class="emodzi-list__item__number">
                                        3
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="question__card__main-content card__main-content flex">
                            <h2 class="card__main-content__title">
                                Question number or title
                            </h2>
                            <p class="card__main-content__descr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                            </p>
                            <div class="card__main-content-footer flex">
                                <div class="main-content-footer__user flex">
                                    <h3 class="main-content-footer__user__title">
                                        Username:
                                    </h3>
                                    <a href="#mailto:ask@htmlbook.ru" class="usermail">
                                        bodjan@mail.ru
                                    </a>
                                </div>
                                <div class="main-content-footer__tags flex">
                                    <ul class="tag-list list flex">
                                        <li class="tag">
                                            <a href="#">C/C++</a>
                                        </li>
                                        <li class="tag">
                                            <a href="#">Python</a>
                                        </li>
                                        <li class="tag">
                                            <a href="">Django</a>
                                        </li>
                                        <li class="tag">
                                            <a href="#">JS</a>
                                        </li>
                                        <li class="tag">
                                            <a href="#">React</a>
                                        </li>
                                        <li class="tag">
                                            <a href="#">Node.js</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="answer__correct flex">
                                <input class="answer__correct__square" type="checkbox" id="scales" name="Correct" checked>
                                <label for="Correct">Correct</label>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
            <div class="container pagination-container">
                <div class="btn btn-dark my-btn">1</div>
                <a class="btn btn-dark my-btn" href="/<link>" rel="" title="Go to page 2">2</a>
                <a class="btn btn-dark my-btn" href="/<link>" rel="" title="Go to page 3">3</a>
                <a class="btn btn-dark my-btn" href="/<link>" rel="" title="Go to page 4">4</a>
                <a class="btn btn-dark my-btn" href="/<link>" rel="" title="Go to page 5">5</a>
                <span class="fs-2"> ....</span>
                <a class="btn btn-dark my-btn" href="/<link>" rel="" title="Go to page 50703">1337</a>
                <a class="btn btn-dark my-btn" href="/<link>" rel="next" title="Go to page 2"> Next</a>
            </div>
        </section>
<hr class="divider">
<section class="your__answer container flex section-offset">
            <h2 class="answers__header">
                Your answer
            </h2>
            <form class="form elem__form" action="https://jsonplaceholder.typicode.com/posts" method="post enctype">
                <input class="indents-reset form__input input-name" type="text" placeholder="Фамилия, имя и отчество*">
                <input class="indents-reset form__input input-email" type="email" placeholder="Email*">
                <textarea class="indents-reset form__input input-textarea" name="message" placeholder="Your answer"></textarea>
                <div class="form__submit-container flex">
                    <button class="indents-reset form__btn btn btn-reset" type="submit">
                        Отправить
                    </button>
                    <input class="indents-reset form__checkbox" type="checkbox" id="consent" name="consent" value="true">
                    <label class="form__label" for="consent">Согласен на&nbsp;обработку данных</label>
                </div>
            </form>
        </section>