{% load static %}

<footer class="footer container flex">
        <div class="footer__col flex">
            <h4 class="footer__col__title">Paraloid</h4>
            <ul class="footer__list list flex">
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">О нас</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link"  href="#">Прессе</a>
                </li>
            </ul>
        </div>
        <div class="footer__col flex">
            <h4 class="footer__col__title">Terms</h4>
            <ul class="footer__list list flex">
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Условия использования</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Условия конфиденциальности</a>
                </li>
            </ul>
        </div>
        <div class="footer__col flex">
            <h4 class="footer__col__title">Contacts</h4>
            <ul class="footer__list list flex">
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Помощь</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Команды</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="footer__col flex">
            <h4 class="footer__col__title">Online</h4>
            <ul class="footer__list list flex">
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">ВКонтакте</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Телеграмме</a>
                </li>
                <li class="footer__list__item">
                    <a class="footer__list__item__link link" href="#">Инстаграмм</a>
                </li>
            </ul>
        </div>
    </footer>