{% load static %}

<div class="questions__main-container flex">
<h2 class="questions__title">Hot</h2>
<ul class="questions__list flex">
    {% include "include/question_card.html" %}
    {% include "include/question_card.html" %}
    {% include "include/question_card.html" %}
    {% include "include/question_card.html" %}
    {% include "include/question_card.html" %}
    {% include "include/question_card.html" %}
    {% include "include/question_card.html" %}
    {% include "include/question_card.html" %}
    {% include "include/question_card.html" %}
    {% include "include/question_card.html" %}
</ul>
</div>