{% load static %}

<div class="container pagination-container">
    <div class="btn btn-dark my-btn">1</div>
      <a class="btn btn-dark my-btn" href="#" title="Go to page 2">2</a>
      <a class="btn btn-dark my-btn" href="#" title="Go to page 3">3</a>
      <a class="btn btn-dark my-btn" href="#" title="Go to page 4">4</a>
      <a class="btn btn-dark my-btn" href="#" title="Go to page 5">5</a>
      <span class="fs-2"> ....</span>
      <a class="btn btn-dark my-btn" href="#" title="Go to page 50703">1337</a>
      <a class="btn btn-dark my-btn" href="#" rel="next" title="Go to page 2"> Next</a>
</div>
