{% load static %}

<li class="questions__list__item flex">
        <article class="questions__question__card question__card card flex">
            <div class="question__card__side-bar side-bar flex">
                <ul class="side-bar__emodzi-list emodzi-list flex">
                    <li class="emodzi-list__item item flex">
                        <button class="btn-reset btn button__emodzi">
                            Answers
                        </button>
                        <span class="emodzi-list__item__number">
                            2
                        </span>
                    </li>
                    <li class="emodzi-list__item item flex">
                        <button class="btn-reset btn button__emodzi">
                            Rating
                        </button>
                        <span class="emodzi-list__item__number">
                            10
                        </span>
                    </li>
                    <li class="emodzi-list__item item flex">
                        <button class="btn-reset btn button__emodzi">
                            Likes
                        </button>
                        <span class="emodzi-list__item__number">
                            3
                        </span>
                    </li>
                </ul>
            </div>
            <div class="question__card__main-content card__main-content flex">
                <h2 class="card__main-content__title">
                    <a href= "{% url "question_page" 1 %}">Question number or title</a>
                </h2>
                <p class="card__main-content__descr">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora suscipit, temporibus quos officiis, accusantium adipisci sapiente alias harum saepe sit quam. Voluptatem fuga, architecto voluptates numquam necessitatibus odio fugiat.
                </p>
                <div class="card__main-content-footer flex">
                    <div class="main-content-footer__user flex">
                        <h3 class="main-content-footer__user__title">
                            Username:
                        </h3>
                        <a href="#mailto:ask@htmlbook.ru" class="usermail">
                            bodjan@mail.ru
                        </a>
                    </div>
                    <div class="main-content-footer__tags flex">
                        <ul class="tag-list list flex">
                            <li class="tag">
                                <a href= "{% url "tag" %}">C/C++</a>
                            </li>
                            <li class="tag">
                                <a href= "{% url "tag" %}">Python</a>
                            </li>
                            <li class="tag">
                                <a href= "{% url "tag" %}">Django</a>
                            </li>
                            <li class="tag">
                                <a href= "{% url "tag" %}">JS</a>
                            </li>
                            <li class="tag">
                                <a href= "{% url "tag" %}">React</a>
                            </li>
                            <li class="tag">
                                <a href= "{% url "tag" %}">Node.js</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </li>