{% load static %}

 <div class="questions__side-bar flex">
            <h3 class="side-bar__title">Pop tags</h3>
            <ul class="side-bar__tags flex">
                <li class="side-bar__tag-item">
                    <a href= "{% url "tag" %}"> C++</a>
                </li>
                <li class="side-bar__tag-item">
                    <a href= "{% url "tag" %}"> Python</a>
                </li>
                <li class="side-bar__tag-item">
                    <a href= "{% url "tag" %}"> SQL</a>
                </li>
                <li class="side-bar__tag-item">
                    <a href= "{% url "tag" %}"> JS</a>
                </li>
                <li class="side-bar__tag-item">
                    <a href= "{% url "tag" %}"> Go</a>
                </li>
                <li class="side-bar__tag-item">
                    <a href= "{% url "tag" %}"> PHP</a>
                </li>
            </ul>
            <h3 class="side-bar__title">Members</h3>
            <ul class="side_bar__members members flex">
                <li class="member">
                    <a href="#">Lalipop</a>
                </li>
                <li class="member">
                    <a href="#">Alex_zzz</a>
                </li>
                <li class="member">
                    <a href="#">Bojander</a>
                </li>
            </ul>
 </div>